In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv('/home/dsantos/ML HidroPrev/Cotas extraidas/dados_diarios_estacao_14990000.csv', sep=';')
df

      DataCompleta    Cota
0       1903-01-01  1914.0
1       1903-01-02  1921.0
2       1903-01-03  1924.0
3       1903-01-04  1926.0
4       1903-01-05  1929.0
...            ...     ...
44761   2025-07-27  2861.0
44762   2025-07-28  2857.0
44763   2025-07-29  2855.0
44764   2025-07-30  2851.0
44765   2025-07-31  2848.0

[44766 rows x 2 columns]

In [8]:
df['DataCompleta'] = pd.to_datetime(df['DataCompleta'])
df.index = df['DataCompleta']
df.drop(columns=['DataCompleta'], inplace=True)
df

                Cota
DataCompleta
1903-01-01    1914.0
1903-01-02    1921.0
1903-01-03    1924.0
1903-01-04    1926.0
1903-01-05    1929.0
...              ...
2025-07-27    2861.0
2025-07-28    2857.0
2025-07-29    2855.0
2025-07-30    2851.0
2025-07-31    2848.0

[44766 rows x 1 columns]

In [15]:
df_mensal = df.resample('MS').mean()
df_mensal

                     Cota
DataCompleta
1903-01-01    1998.322581
1903-02-01    2139.678571
1903-03-01    2245.161290
1903-04-01    2437.966667
1903-05-01    2612.838710
...                   ...
2025-03-01    2508.580645
2025-04-01    2676.766667
2025-05-01    2816.096774
2025-06-01    2880.566667
2025-07-01    2882.612903

[1471 rows x 1 columns]